{% extends 'admin.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div class="page-heading pb-2 mt-4 mb-2 ">
        <h3>Manager</h3> 
    </div>

    <div class="page-content">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
    </div>

        <div class="container mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th class=" text-dark " >Id</th>
                        <th class=" text-dark " >Name</th>
                        <th class=" text-dark " >Email</th>
                        <th class=" text-dark " >Edit</th>
                        <th class=" text-dark " >Delete</th>
                    </tr>
                </thead>
                <tbody class="table">
                    {% for a in account %}
                        <tr>
                            <td class = "text-black-50">{{a.id}}</td>
                            <td class = "text-black-50">{{a.name}}</td>                            
                            <td class = "text-black-50">{{a.email}}</td>
                            {# <td>{{a.roles}}</td> #}
                            <td> 
                                <a href="{{ path('event_edit',{'id':a.id}) }}">Edit</a>
                            </td>
                            <td> 
                                <a href="{{ path('event_delete',{'id':a.id}) }}">Delete</a> 
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    </div>
{% endblock %}