{% extends "home.html.twig" %}

{% block title %}
    Admin Page - Account Datail
{% endblock %}

{% block body %}

<div className="page-heading pb-2 mt-4 mb-2 ">
    <div class="page-content mt-4">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    {{ form_start(form,{'attr':{'class':'form form-vertical'}} ) }}
                        <div class="form-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="first-name-vertical">Status</label>
                                        {{ form_widget(form.status, {'attr':{'placeholder':'eventName'}}) }}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="first-name-vertical">Birthday</label>
                                        {{ form_widget(form.birthday, {'attr':{'placeholder':'yyyy-mm-dd'}}) }}
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="image-vertical"></label>
                                        {{ form_widget(form.file) }}
                                    </div>
                                </div>

                                {{ form_widget(form.image) }}
                                <div class="pt-3">
                                    {% set img = form.image.vars.value %}

                                    {% if img %}

                                        <img src="{{asset('uploads/'~img)}}"
                                        class="w-25 shadow p-3 mb-5 bg-body rounded" />

                                        {% else %}

                                            <img src="https://cdn2.iconfinder.com/data/icons/symbol-blue-set-3/100/Untitled-1-94-512.png"
                                        class="w-25 shadow p-3 mb-5 bg-body rounded" />

                                        {% endif %}
                                 </div>
                                    
                                <div class="col-12 d-flex justify-content-end pt-2">
                                
                                    {{ form_widget(form.save,{'attr':{'class':'btn btn-primary me-2'}}) }}
                                    <button type="reset"
                                        class="btn btn-secondary">Reset</button>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div> 
            </div>
        </div> 
    </div>
</div>
{% endblock %}
