{% extends 'admin.html.twig' %}

{% block title %} Hello There {% endblock %}

{% block body %}
    <div className="page-heading pb-2 mt-4 mb-2 ">
        <h3> Event Register Manager</h3>
    </div>
    <div class="page-content">
    <div class="btn-group" role="group" aria-label="Basic outlined example">

    </div>
    <div class="card">
        <div class="container mb-3">
            <div class="table-responsive text-nowrap">
            <table class="table table-striped">
            <thead>
                <tr>
                <th>ID</th>
                <th>Event ID</th>
                <th>Student ID</th>
                <th>Phonenumber</th>
                <th>Comment</th>
                <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for d in show %}
                    <tr>
                        <td>{{ d.id }}</td>
                        <td>{{ d.event.id }}</td>
                        <td>{{ d.user.id }}</td>
                        <td>{{ d.phonenumber }}</td>
                        <td>{{ d.comment }}</td>
                        <td>
                            <a href="{{path('eveRegisEdit',{'id':d.id})}}">Edit</a>
                            <a href="{{path('eveRegisDelete',{'id':d.id})}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
{% endblock %}